@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

.dark {
  --background: #000000;
  --foreground: #e6e6e6;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
